<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) xgraza 2026
  -->
<Configuration status="WARN">
    <Appenders>
        <Console name="CONSOLE"
                 target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%highlight{%level}{FATAL=bright_red, ERROR=red, WARN=yellow, INFO=cyan, DEBUG=green, TRACE=magenta} [%style{%d{MM/dd/yy HH:mm:ss}}{blue}] %style{%class{0}}{white} (%style{%t}{magenta}): %msg{nolookup}%n%throwable"/>
        </Console>
        <RollingRandomAccessFile name="File" fileName="logs/latest.log" filePattern="logs/%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="%level [%d{MM/dd/yy HH:mm:ss}] %class{0} (%t): %msg{nolookup}%n%throwable" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <OnStartupTriggeringPolicy />
            </Policies>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Root level="ALL">
            <AppenderRef ref="FILE"/>
            <AppenderRef ref="CONSOLE" level="INFO"/>
        </Root>
    </Loggers>
</Configuration>